body {
  background-color: rgb(217, 210, 201);
  color: black;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 20px;
  overflow-y: auto;

}

a {
  background-color: #39a7a3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}

input[type="file"] {

  width: 100%;
  padding: 8px;
  margin: 10px 0 20px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;

}

button {
  background-color: #4a90e2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}

button:hover {
  background-color: #357ab8;


}


.centered-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;

}

form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4p 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.table-preview {
  margin-top: 40px;

}

.right_set {
  display: flex;
}

.push-right {
  margin-left: auto;
}